<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Store</title>
</head>
<body>


<form action="#" th:action="@{/userInfo}">
    <input type="submit" value="Info o graczu"/>
</form>

<form action="#" th:action="@{/trening}">
    <input type="submit" value="trening"/>
</form>

<form action="#" th:action="@{/polowanie}">
    <input type="submit" value="polowanie"/>
</form>


<form action="#" method="post" th:action="@{/work}">
    <input type="hidden" name="workType" th:value="arbeit2" />
    <button type="submit" >work</button>
</form>

<form action="#" th:action="@{/ranking}">
    <input type="submit" value="Ranking"/>
</form>


</body>
</html>