<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Store</title>
</head>
<body>

<form action="#" th:action="@{/ranking}">
    <input type="submit" value="Ranking"/>
</form>

<form action="#" th:action="@{/userInfo}">
    <input type="submit" value="Info o graczu"/>
</form>

<form action="#" th:action="@{/updateStrength}">
    <input type="submit" value="udate sile"/>
</form>

<form action="updateButton" method="get" th:action="@{/updateStrength}">
    <button type="submit" name="first">update str</button>
</form>


</body>
</html>