<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FekeN</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css"
          th:href="@{/css/style.css}">
</head>

<body>

<div id="wrapper">

    <div id="header">

        <div class="top_banner">
            <h1>FekeN</h1>
            <p>Potwory rzeczne</p>
        </div>

        <div class="navigation">
            <ul>
                <li><a href="#" th:href="@{/home}">Home</a></li>
            </ul>
        </div>

    </div>

    <div id="page_content">
        <div class="common_content">
            <h2>Login</h2>
            <hr>

            <p>
                <form th:action="@{/login}" method="POST" class="form-signin">
                    <br />
                    <div class="container-fluid">
                        <input type="text" id="email" name="email" th:placeholder="Email" class="form-control" /> <br />
                        <input type="password" th:placeholder="Password" id="password" name="password" class="form-control" /> <br />

                        <div align="center" th:if="${param.error}">
                            <p style="font-size: 20; color: #FF1C19;">Email or Password is invalid.</p>
                        </div>

                        <button class="btn btn-lg btn-primary" name="Submit" value="Login" type="Submit" th:text="Login" style="margin-right:10px;"></button>
                    </div>
                </form>
            </p>

        </div>

        <div class="clear"></div>

        <div id="footer">Copyright &copy; 2014. Design by <a href="http://www.htmltemplates.net/" target="_blank">HTML Templates</a><br>

        </div>

    </div>

</div>

</body>

</html>