<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FekeN</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css"
          th:href="@{/css/style.css}">
</head>

<body>

<div id="wrapper">

    <div id="header">

        <div class="top_banner">
            <h1>FekeN</h1>
            <p>Potwory rzeczne</p>
        </div>

        <div class="navigation">
            <ul>
                <li><a href="#" th:href="@{/home}">Home</a></li>
                <li><a href="#" th:href="@{/userInfo}">User Info</a></li>
                <li><a href="#" th:href="@{/training}">Training</a></li>
                <li><a href="#" th:href="@{/hunt}">Hunt</a></li>
                <li><a href="#" th:href="@{/work}">Work</a></li>
                <li><a href="#" th:href="@{/shop}">Shop</a></li>
                <li><a href="#" th:href="@{/ranking}">Ranking</a></li>
            </ul>
        </div>

    </div>

    <div id="page_content">
        <div class="common_content">

            <h2>Arena</h2>
            <hr>

            <form action="#" th:action="@{/arenaDetail}">
                <button style="background-color:#d18ca9" type="submit" >Your challanges</button>
            </form>
            <hr>

            <div class="container">
                <form class="form" role="form" autocomplete="off" th:action="@{/arena}" method="get"
                      xmlns:th="http://www.w3.org/1999/xhtml">

                    <div class="table-responsive">
                        <table id="userList" class="table table-bordered table-hover table-striped">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Level</th>
                                <th scope="col">Username</th>
                                <th scope="col">Strength</th>
                                <th scope="col">Dexterity</th>
                                <th scope="col">Intelligence</th>
                                <th scope="col">Health</th>
                                <th scope="col">CurrentHealth</th>
                                <th scope="col">Armor</th>
                                <th scope="col">DMG</th>
                                <th scope="col">Challange User</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user: ${userList}">
                                <td th:text="${user.lvl}"></td>
                                <td th:text="${user.nickName}"></td>
                                <td th:text="${user.strength}"></td>
                                <td th:text="${user.dexterity}"></td>
                                <td th:text="${user.intelligence}"></td>
                                <td th:text="${user.health}"></td>
                                <td th:text="${user.currentHealth}"></td>
                                <td th:text="${user.armor}"></td>
                                <td th:text="${user.DMG}"></td>
                                <td>
                                    <form action="#" method="post" th:action="@{'/challangeUser/'+ ${user.id}}">
                                        <button style="background-color:#d18ca9" type="submit" >Challange</button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>


        </div>

        <div class="clear"></div>

        <div id="footer">Copyright &copy; 2014. Design by <a href="http://www.htmltemplates.net/" target="_blank">HTML Templates</a><br>

        </div>

    </div>

</div>

</body>

</html>