<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FekeN</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css"
          th:href="@{/css/style.css}">
</head>

<body>

<div id="wrapper">

    <div id="header">

        <div class="top_banner">
            <h1>FekeN</h1>
            <p>Potwory rzeczne</p>
        </div>

        <div class="navigation">
            <ul>
                <li><a href="#" th:href="@{/home}">Home</a></li>
                <li><a href="#" th:href="@{/training}">Training</a></li>
                <li><a href="#" th:href="@{/hunt}">Hunt</a></li>
                <li><a href="#" th:href="@{/work}">Work</a></li>
                <li><a href="#" th:href="@{/shop}">Shop</a></li>
                <li><a href="#" th:href="@{/arena}">Arena</a></li>
                <li><a href="#" th:href="@{/ranking}">Ranking</a></li>
            </ul>
        </div>

    </div>

    <div id="page_content">
        <div class="common_content">
            <h2>User Info:</h2>
            <p>

            <div class="container">
                <form class="form" role="form" autocomplete="off" th:action="@{/userInfo}"
                      xmlns:th="http://www.w3.org/1999/xhtml">

                        <div class="col-lg-9">
                            <label class="col-lg-3 col-form-label form-control-label">Nick name:  <td th:text="${user.nickName}"></td></label>
                        </div>

                        <div class="col-lg-9">
                            <label class="col-lg-3 col-form-label form-control-label">Email:  <td th:text="${user.email}"></td></label>
                        </div>

                        <div class="col-lg-9">
                            <label class="col-lg-3 col-form-label form-control-label">Level:  <td th:text="${user.lvl}"></td></label>
                        </div>

                        <div class="col-lg-9">
                            <label class="col-lg-3 col-form-label form-control-label">Exp:  <td th:text="${user.xp}"></td></label>
                        </div>

                        <div class="col-lg-9">
                            <label class="col-lg-3 col-form-label form-control-label">Money:  <td th:text="${user.money}"></td></label>
                        </div>

                        <div class="col-lg-9">
                            <label class="col-lg-3 col-form-label form-control-label">Current HP/HP:  <td th:text="${user.currentHealth}"></td> / <td th:text="${user.healthPoints}"></td></label>
                        </div>

                        <div class="col-lg-9">
                            <label class="col-lg-3 col-form-label form-control-label">Strength:  <td th:text="${user.strength}"></td></label>
                        </div>

                        <div class="col-lg-9">
                            <label class="col-lg-3 col-form-label form-control-label">Dexterity:  <td th:text="${user.dexterity}"></td></label>
                        </div>

                        <div class="col-lg-9">
                            <label class="col-lg-3 col-form-label form-control-label">Intelligence:  <td th:text="${user.intelligence}"></td></label>
                        </div>

                        <div class="col-lg-9">
                            <label class="col-lg-3 col-form-label form-control-label">Health:  <td th:text="${user.health}"></td></label>
                        </div>

                        <div class="col-lg-9">
                            <label class="col-lg-3 col-form-label form-control-label">DMG:  <td th:text="${user.DMG}"></td></label>
                        </div>

                        <div class="col-lg-9">
                            <label class="col-lg-3 col-form-label form-control-label">Armor: <td  th:text="${user.armor}"></td></label>
                        </div>


                </form>

            </div>

            </p>
        </div>

        <div class="clear"></div>

        <div id="footer">Copyright &copy; 2014. Design by <a href="http://www.htmltemplates.net/" target="_blank">HTML Templates</a><br>

        </div>

    </div>

</div>

</body>

</html>