<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Store</title>
</head>
<body>

<br>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Nick name: </label>

        <div class="col-lg-9">
            <label class="col-lg-3 col-form-label form-control-label"><td th:text="${user.nickName}"></td></label>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Money: </label>
        <div class="col-lg-9">
            <label class="col-lg-3 col-form-label form-control-label"><td th:text="${user.money}"></td></label>
        </div>
    </div>

    <br>   


    <label class="col-lg-3 col-form-label form-control-label">Strength: </label>
    <div class="col-lg-9">
        <label class="col-lg-3 col-form-label form-control-label"><td th:text="${user.strength}"></td></label>
        <form action="#" method="post" th:action="@{/updateStat}">
            <input type="hidden" name="statistic" th:value="strength" />
            <button type="submit" th:disabled="${user.money<=5}">+</button>
        </form>
    </div>

    <label class="col-lg-3 col-form-label form-control-label">Dexterity: </label>
    <div class="col-lg-9">
        <label class="col-lg-3 col-form-label form-control-label"><td th:text="${user.dexterity}"></td></label>
        <form action="#" method="post" th:action="@{/updateStat}">
            <input type="hidden" name="statistic" th:value="dexterity" />
            <button type="submit" th:disabled="${user.money<=5}">+</button>
        </form>
    </div>

    <label class="col-lg-3 col-form-label form-control-label">Intelligence: </label>
    <div class="col-lg-9">
        <label class="col-lg-3 col-form-label form-control-label"><td th:text="${user.intelligence}"></td></label>
        <form action="#" method="post" th:action="@{/updateStat}">
            <input type="hidden" name="statistic" th:value="intelligence" />
            <button type="submit" th:disabled="${user.money<=5}">+</button>
        </form>
    </div>

    <label class="col-lg-3 col-form-label form-control-label">Health: </label>
    <div class="col-lg-9">
        <label class="col-lg-3 col-form-label form-control-label"><td th:text="${user.health}"></td></label>
        <form action="#" method="post" th:action="@{/updateStat}">
            <input type="hidden" name="statistic" th:value="health" />
            <button type="submit" th:disabled="${user.money<=5}">+</button>
        </form>
    </div>

</body>
</html>